.selector {
  display: flex;
  gap: 0.5rem;
}

.selector__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid grey;
  padding: 5px;
  text-align: center;
  width: 100%;
}
