:root {
  --color-orange: #ebb134;
  --color-green: #84e819;
  --color-red: red;
  --color-blue: #029ffa;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: 'Comfortaa';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

#light {
  background-color: white;
}

#dark {
  background-color: #333335;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app .main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
